name: givt_app
description: Givt App
version: 3.18.1
publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  amplitude_flutter: ^3.16.0
  badges: ^3.1.1
  bloc: ^8.1.1
  carousel_slider: ^4.2.1
  device_info_plus: ^9.0.2
  device_region: ^1.0.1
  dotted_border: ^2.0.0+3
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.2
  flutter_blue_plus: ^1.11.3
  flutter_inappwebview: ^5.7.2+3
  flutter_localizations:
    sdk: flutter
  flutter_native_timezone: ^2.0.0
  flutter_svg: ^2.0.7
  font_awesome_flutter: ^10.5.0
  geolocator: ^9.0.2
  get_it: ^7.6.0
  go_router: ^9.1.1
  http: ^0.13.6
  http_interceptor: ^1.0.2
  iban: ^1.0.1
  internet_connection_checker_plus: ^1.0.1
  intl: ^0.18.0
  local_auth: ^2.1.6
  logging: ^1.2.0
  mobile_scanner: ^2.1.0
  package_info_plus: ^4.0.2
  permission_handler: ^10.4.3
  share_plus: ^7.0.2
  shared_preferences: ^2.2.0
  sprintf: ^7.0.0
  sticky_headers: ^0.3.0+2
  url_launcher: ^6.1.12
  vibration: ^1.8.1

dev_dependencies:
  bloc_test: ^9.1.1
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  very_good_analysis: ^5.0.0+1

flutter:
  uses-material-design: true
  generate: true
  fonts:
    - family: AvenirLTStd
      fonts:
        - asset: assets/fonts/AvenirLTStd-Black.otf
        - asset: assets/fonts/AvenirLTStd-BlackOblique.otf
        - asset: assets/fonts/AvenirLTStd-Book.otf
        - asset: assets/fonts/AvenirLTStd-BookOblique.otf
        - asset: assets/fonts/AvenirLTStd-Heavy.otf
        - asset: assets/fonts/AvenirLTStd-HeavyOblique.otf
        - asset: assets/fonts/AvenirLTStd-Light.otf
        - asset: assets/fonts/AvenirLTStd-LightOblique.otf
        - asset: assets/fonts/AvenirLTStd-Medium.otf
        - asset: assets/fonts/AvenirLTStd-MediumOblique.otf
        - asset: assets/fonts/AvenirLTStd-Oblique.otf
        - asset: assets/fonts/AvenirLTStd-Roman.otf
  assets:
    - assets/images/        
