name: givt_app
description: Givt App
version: 4.6.1
publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  amplitude_flutter: ^3.16.0
  animated_toggle_switch: ^0.8.3
  app_settings: ^5.1.1
  badges: ^3.1.1
  bloc: ^8.1.1
  carousel_slider: ^5.0.0
  country_flags: ^3.0.0
  countup: ^0.1.4
  currency_text_input_formatter: ^2.1.10
  dart_jsonwebtoken: ^2.13.0
  device_info_plus: ^10.1.2
  device_region:
    path: ./packages/flutter_device_region
  diacritic: ^0.1.4
  dotted_border: ^2.1.0
  equatable: ^2.0.5
  firebase_core: ^2.32.0
  # firebase_core: ^2.31.0
  firebase_messaging: ^14.9.2
  firebase_crashlytics: ^3.5.7
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.2
  flutter_blue_plus: ^1.30.5
  flutter_inappwebview: ^6.1.2
  flutter_layout_grid: ^2.0.5
  flutter_local_notifications: ^17.2.2
  flutter_localizations:
    sdk: flutter
  flutter_stripe: ^11.0.0
  flutter_svg: ^2.0.9
  flutter_timezone: ^3.0.0
  font_awesome_flutter: ^10.7.0
  geolocator: ^12.0.0
  get_it: ^7.6.4
  go_router: ^14.2.6
  google_fonts: ^6.1.0
  http: ^1.1.2
  http_certificate_pinning:
    path: ./packages/http_certificate_pinning
  http_interceptor: ^2.0.0
  hydrated_bloc: ^9.1.1
  iban: ^1.0.1
  image_picker: ^1.1.2
  internet_connection_checker_plus: ^2.3.0
  intl: ^0.19.0
  ios_utsname_ext: ^2.2.0
  jiffy: ^6.2.1
  local_auth: ^2.1.7
  logging: ^1.2.0
  lottie: ^3.0.0
  material_color_utilities: ^0.11.1
  mobile_scanner: ^5.2.3
  nfc_manager: ^3.3.0
  package_info_plus: ^8.0.2
  path: ^1.9.0
  path_provider: ^2.1.2
  permission_handler: ^11.3.0
  share_plus: ^10.0.0
  shared_preferences: ^2.2.0
  sprintf: ^7.0.0
  scratcher: ^2.5.0
  sticky_headers: ^0.3.0+2
  timezone: ^0.9.2
  url_launcher: ^6.1.12
  uuid: ^4.4.0
  vibration: ^2.0.0
  wakelock_plus: ^1.2.8
  collection: ^1.18.0
  flutter_keyboard_visibility: ^6.0.0
  dropdown_button2: ^2.3.9

# Override needed because inappwebview >=6.1.0 requires this version
# firebase_messaging_web is using an older version (and we can't upgrade to a more recent message version because of MLKIT)
# MLKit is used in mobile_scanner
# So its a bit of a mess but this is the only way to make it work
# _-(ツ)_/¯
# https://github.com/juliansteenbakker/mobile_scanner/issues/1165
dependency_overrides:
  web: 1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  melos: ^6.1.0
  very_good_analysis: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
  fonts:
    - family: AvenirLTStd
      fonts:
        - asset: assets/fonts/AvenirLTStd-Black.otf
        - asset: assets/fonts/AvenirLTStd-BlackOblique.otf
        - asset: assets/fonts/AvenirLTStd-Book.otf
        - asset: assets/fonts/AvenirLTStd-BookOblique.otf
        - asset: assets/fonts/AvenirLTStd-Heavy.otf
        - asset: assets/fonts/AvenirLTStd-HeavyOblique.otf
        - asset: assets/fonts/AvenirLTStd-Light.otf
        - asset: assets/fonts/AvenirLTStd-LightOblique.otf
        - asset: assets/fonts/AvenirLTStd-Medium.otf
        - asset: assets/fonts/AvenirLTStd-MediumOblique.otf
        - asset: assets/fonts/AvenirLTStd-Oblique.otf
        - asset: assets/fonts/AvenirLTStd-Roman.otf
    - family: Roboto
      fonts:
        - asset: assets/fonts/roboto/Roboto-Regular.ttf
          weight: 400
        - asset: assets/fonts/roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/roboto/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/roboto/Roboto-Black.ttf
          weight: 800
        - asset: assets/fonts/roboto/Roboto-Italic.ttf
          style: italic
          weight: 400
        - asset: assets/fonts/roboto/Roboto-BoldItalic.ttf
          style: italic
          weight: 700
    - family: Raleway
      fonts:
        - asset: assets/fonts/raleway/Raleway-Regular.ttf
          weight: 400
        - asset: assets/fonts/raleway/Raleway-Medium.ttf
          weight: 500
        - asset: assets/fonts/raleway/Raleway-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/raleway/Raleway-Bold.ttf
          weight: 700
    - family: Rouna
      fonts:
        - asset: assets/fonts/Rouna/rouna-bold-webfont.ttf
          weight: 700
        - asset: assets/fonts/Rouna/rouna-medium-webfont.ttf
          weight: 500
        - asset: assets/fonts/Rouna/rouna-regular-webfont.ttf
          weight: 400
  assets:
    - assets/images/
    - assets/lotties/
    - assets/ca/
    - assets/family/images/
    - assets/family/images/home_screen/
    - assets/family/lotties/
    - assets/fun/illustrations/
