name: givt_app
description: Givt App
version: 4.2.6
publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  amplitude_flutter: ^3.16.0
  animated_toggle_switch: ^0.7.0
  appcheck: ^1.0.6
  badges: ^3.1.1
  bloc: ^8.1.1
  carousel_slider: ^4.2.1
  cupertino_icons: ^1.0.6
  currency_text_input_formatter: ^2.1.10
  dart_jsonwebtoken: ^2.13.0
  device_info_plus: ^9.1.1
  device_region:
    path: ./packages/flutter_device_region
  diacritic: ^0.1.4
  dotted_border: ^2.1.0
  equatable: ^2.0.5
  firebase_core: ^2.25.4
  firebase_messaging: ^14.7.15
  flutter:
    sdk: flutter
  flutter_app_badger: ^1.5.0
  flutter_bloc: ^8.1.2
  flutter_blue_plus: ^1.30.5
  flutter_inappwebview: ^5.8.0
  flutter_local_notifications: ^16.3.2
  flutter_localizations:
    sdk: flutter
  flutter_svg: ^2.0.9
  flutter_timezone: ^1.0.8
  font_awesome_flutter: ^10.6.0
  geolocator: ^9.0.2
  get_it: ^7.6.4
  go_router: ^12.1.1
  google_fonts: ^6.1.0
  http: ^1.1.2
  http_certificate_pinning:
    path: ./packages/http_certificate_pinning
  http_interceptor: 2.0.0-beta.7
  iban: ^1.0.1
  internet_connection_checker_plus: ^2.1.0
  intl: ^0.18.0
  ios_utsname_ext: ^2.2.0
  jiffy: ^6.2.1
  keyboard_actions: ^4.2.0
  local_auth: ^2.1.7
  logging: ^1.2.0
  lottie: ^3.0.0
  mobile_scanner: ^3.5.7
  package_info_plus: ^4.0.2
  permission_handler: ^11.3.0
  share_plus: ^7.0.2
  shared_preferences: ^2.2.0
  sprintf: ^7.0.0
  sticky_headers: ^0.3.0+2
  timezone: ^0.9.2
  url_launcher: ^6.1.12
  vibration: ^1.8.4

dev_dependencies:
  bloc_test: ^9.1.1
  flutter_test:
    sdk: flutter
  melos: ^3.4.0
  mocktail: ^1.0.2
  very_good_analysis: ^5.0.0+1

flutter:
  uses-material-design: true
  generate: true
  fonts:
    - family: AvenirLTStd
      fonts:
        - asset: assets/fonts/AvenirLTStd-Black.otf
        - asset: assets/fonts/AvenirLTStd-BlackOblique.otf
        - asset: assets/fonts/AvenirLTStd-Book.otf
        - asset: assets/fonts/AvenirLTStd-BookOblique.otf
        - asset: assets/fonts/AvenirLTStd-Heavy.otf
        - asset: assets/fonts/AvenirLTStd-HeavyOblique.otf
        - asset: assets/fonts/AvenirLTStd-Light.otf
        - asset: assets/fonts/AvenirLTStd-LightOblique.otf
        - asset: assets/fonts/AvenirLTStd-Medium.otf
        - asset: assets/fonts/AvenirLTStd-MediumOblique.otf
        - asset: assets/fonts/AvenirLTStd-Oblique.otf
        - asset: assets/fonts/AvenirLTStd-Roman.otf
    - family: Roboto
      fonts:
        - asset: assets/fonts/roboto/Roboto-Regular.ttf
          weight: 400
        - asset: assets/fonts/roboto/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/roboto/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/roboto/Roboto-Black.ttf
          weight: 800
        - asset: assets/fonts/roboto/Roboto-Italic.ttf
          style: italic
          weight: 400
        - asset: assets/fonts/roboto/Roboto-BoldItalic.ttf
          style: italic
          weight: 700
    - family: Raleway
      fonts:
        - asset: assets/fonts/raleway/Raleway-Regular.ttf
          weight: 400
        - asset: assets/fonts/raleway/Raleway-Medium.ttf
          weight: 500
        - asset: assets/fonts/raleway/Raleway-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/raleway/Raleway-Bold.ttf
          weight: 700
  assets:
    - assets/images/
    - assets/lotties/
    - assets/ca/
