<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.givtapp.net</string>
		<string>applinks:cloud.givtapp.net</string>
		<string>applinks:api.givtapp.net</string>
		<string>applinks:givt-debug-api.azurewebsites.net</string>
		<string>applinks:givt.co.uk</string>
		<string>applinks:givt.app</string>
		<string>applinks:givtapp.de</string>
		<string>applinks:backend.givtapp.net</string>
		<string>applinks:dev-backend.givtapp.net</string>
	</array>
</dict>
</plist>
