name: Build Android and upload to Play Store
on: 
  workflow_call:
    secrets:
      CODESIGNING_DEPLOY_KEY:
        required: true
      GOOGLE_PLAY_JSON_KEY:
        required: true
      MATCH_PASSWORD:
        required: true
      LOGIT_API_KEY:
        required: true
      GOOGLE_SERVICES_JSON:
        required: true
    inputs:
      flutter-version:
        required: true
        type: string
 
jobs:

  build-droid: 
    name: Build Flutter Android
    runs-on: ubuntu-24.04
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Test' }}
    steps:
      - name: Set environment variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "Running on the main branch, deploying to production."
            echo "PACKAGE_NAME=net.givtapp.droid2" >> $GITHUB_ENV
            echo "FLAVOR=production" >> $GITHUB_ENV
            echo "TRACK=production" >> $GITHUB_ENV
            echo "POSTHOG_API_KEY=phc_k8OV4LqiYh91kKdbuzHddYy2KK5yWvA6qI9dsrsQEyS" >> $GITHUB_ENV
            echo "API_URL_US=backend.givt.app" >> $GITHUB_ENV
            echo "API_URL_EU=backend.givtapp.net" >> $GITHUB_ENV
            echo "STRIPE_PK=pk_live_51NGl2uLM5mQffuXIGIt8OSH7HWeo2lqPLyvMJSi3ypUDH7ITn84S4A8sGoFvXpP4DCtoUQFlNdWm5jraqR8Ce0sE00Nb4wDuBW" >> $GITHUB_ENV
          else
            echo "Running on a different branch, deploying to test."
            echo "PACKAGE_NAME=net.givtapp.droid2.test" >> $GITHUB_ENV
            echo "FLAVOR=development" >> $GITHUB_ENV
            echo "TRACK=internal" >> $GITHUB_ENV
            echo "POSTHOG_API_KEY=phc_TIgcrA7CHgdVMP6wEai43xjKXrdM2s3FBYBrL9atrcN" >> $GITHUB_ENV
            echo "API_URL_US=dev-backend.givt.app" >> $GITHUB_ENV
            echo "API_URL_EU=dev-backend.givtapp.net" >> $GITHUB_ENV
            echo "STRIPE_PK=pk_test_51NGl2uLM5mQffuXIiPJWhwISjD7y2tkztrobOIkxSBPUe535u3eDNEgA9ygaRSjKVqMrBdIQsowJieg5G0E5oPm100amoOlHZ1" >> $GITHUB_ENV
          fi

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with: 
          ruby-version: '3.0'
          bundler-cache: true
          working-directory: 'android'

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Auth codesigning
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.CODESIGNING_DEPLOY_KEY }}
        
      - name: Replace google-services.json
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > android/app/google-services.json

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          flutter-version: ${{ inputs.flutter-version }}

      - name: Run Fastlane
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: android build_and_deploy
          subdirectory: android
        env:
          GOOGLE_PLAY_JSON_KEY: ${{ secrets.GOOGLE_PLAY_JSON_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          LOGIT_API_KEY: ${{ secrets.LOGIT_API_KEY }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}
          API_URL_US: ${{env.API_URL_US}}
          API_URL_EU: ${{env.API_URL_EU}}
          POSTHOG_API_KEY: ${{env.POSTHOG_API_KEY}}
          FLAVOR: ${{ env.FLAVOR }}
          TRACK: ${{ env.TRACK }}
          STRIPE_PK: ${{ env.STRIPE_PK }}
          STRIPE_MERCHANT_ID: ${{ env.STRIPE_MERCHANT_ID }}
          RUBYOPT: '-rostruct' # TODO: Remove when https://github.com/fastlane/fastlane/pull/21950 gets released