name: Build Android and upload to Play Store
on: 
  workflow_call:
    secrets:
      CODESIGNING_DEPLOY_KEY:
        required: true
      GOOGLE_PLAY_JSON_KEY:
        required: true
      MATCH_PASSWORD:
        required: true
      LOGIT_API_KEY:
          required: true

jobs:

  build-droid: 
    name: Build Flutter Android
    runs-on: ubuntu-20.04
    steps:
      - name: Set environment variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "Running on the main branch, deploying to production."
            echo "PACKAGE_NAME=net.givtapp.droid2" >> $GITHUB_ENV
            echo "FLAVOR=production" >> $GITHUB_ENV
            echo "TRACK=beta" >> $GITHUB_ENV
            echo "AMPLITUDE_KEY=f4fa9ab88de04c56a346aaa36c172a9a" >> $GITHUB_ENV
            echo "API_URL_US=backend.givt.app" >> $GITHUB_ENV
            echo "API_URL_EU=backend.givtapp.net" >> $GITHUB_ENV
          else
            echo "Running on a different branch, deploying to test."
            echo "PACKAGE_NAME=net.givtapp.droid2.test" >> $GITHUB_ENV
            echo "FLAVOR=development" >> $GITHUB_ENV
            echo "TRACK=internal" >> $GITHUB_ENV
            echo "AMPLITUDE_KEY=ceb9aaa139ac6028aa34166d6f57923e" >> $GITHUB_ENV
            echo "API_URL_US=dev-backend.givt.app" >> $GITHUB_ENV
            echo "API_URL_EU=dev-backend.givtapp.net" >> $GITHUB_ENV
          fi

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.118.0
        with: 
          ruby-version: '3.0'
          bundler-cache: true
          working-directory: android

      - name: Auth codesigning
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.CODESIGNING_DEPLOY_KEY }}

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Run Fastlane
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: android build_and_deploy
          subdirectory: android
        env:
          GOOGLE_PLAY_JSON_KEY: ${{ secrets.GOOGLE_PLAY_JSON_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          LOGIT_API_KEY: ${{ secrets.LOGIT_API_KEY }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}
          API_URL_US: ${{env.API_URL_US}}
          API_URL_EU: ${{env.API_URL_EU}}
          AMPLITUDE_KEY: ${{env.AMPLITUDE_KEY}}
          FLAVOR: ${{ env.FLAVOR }}
          TRACK: ${{ env.TRACK }}
