name: Build and sign iOS
on: 
  workflow_call:
    secrets:
      MATCH_PASSWORD:
        required: true
      APPSTORECONNECT_PRIVATE_KEY:
        required: true
      GITHUB_API_TOKEN:
        required: true
      CODESIGNING_DEPLOY_KEY:
        required: true
      LOGIT_API_KEY:
          required: true

jobs:
  build-ios: 
    name: Build Flutter iOS
    runs-on: macos-latest
    steps:
      - name: Set environment variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "Running on the main branch, deploying to production."
            echo "PACKAGE_NAME=net.givtapp.ios" >> $GITHUB_ENV
            echo "APP_IDENTIFIER=net.givtapp.ios" >> $GITHUB_ENV
            echo "FLAVOR=production" >> $GITHUB_ENV
            echo "TRACK=internal" >> $GITHUB_ENV
            echo "AMPLITUDE_KEY=f4fa9ab88de04c56a346aaa36c172a9a" >> $GITHUB_ENV
            echo "API_URL_US=backend.givt.app" >> $GITHUB_ENV
            echo "API_URL_EU=backend.givtapp.net" >> $GITHUB_ENV
            echo "API_URL_AWS_US=api.production.givt.app" >> $GITHUB_ENV
            echo "API_URL_AWS_EU=api.production.givtapp.net" >> $GITHUB_ENV
          else
            echo "Running on a different branch, deploying to test."
            echo "PACKAGE_NAME=net.givtapp.ios.test" >> $GITHUB_ENV
            echo "APP_IDENTIFIER=net.givtapp.ios.test" >> $GITHUB_ENV
            echo "FLAVOR=development" >> $GITHUB_ENV
            echo "TRACK=internal" >> $GITHUB_ENV
            echo "AMPLITUDE_KEY=ceb9aaa139ac6028aa34166d6f57923e" >> $GITHUB_ENV
            echo "API_URL_US=dev-backend.givt.app" >> $GITHUB_ENV
            echo "API_URL_EU=dev-backend.givtapp.net" >> $GITHUB_ENV
            echo "API_URL_AWS_US=api.development.givtapp.net" >> $GITHUB_ENV
            echo "API_URL_AWS_EU=api.development.givtapp.net" >> $GITHUB_ENV
          fi

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.118.0
        with: 
          ruby-version: '3.0'
          bundler-cache: true

      - name: Auth codesigning
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.CODESIGNING_DEPLOY_KEY }}

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Run Fastlane
        uses: maierj/fastlane-action@v2.3.0
        with:
          lane: ios release
          subdirectory: ios
        env: 
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          APPSTORECONNECT_PRIVATE_KEY: ${{ secrets.APPSTORECONNECT_PRIVATE_KEY }}
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_API_TOKEN }}
          LOGIT_API_KEY: ${{ secrets.LOGIT_API_KEY }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}
          API_URL_US: ${{env.API_URL_US}}
          API_URL_EU: ${{env.API_URL_EU}}
          API_URL_AWS_US: ${{env.API_URL_AWS_US}}
          API_URL_AWS_EU: ${{env.API_URL_AWS_EU}}
          AMPLITUDE_KEY: ${{env.AMPLITUDE_KEY}}
          APP_IDENTIFIER: ${{ env.APP_IDENTIFIER }}
          FLAVOR: ${{ env.FLAVOR }}
