name: Build and sign iOS
on: 
  workflow_call:
    secrets:
      MATCH_PASSWORD:
        required: true
      APPSTORECONNECT_PRIVATE_KEY:
        required: true
      GITHUB_API_TOKEN:
        required: true
      CODESIGNING_DEPLOY_KEY:
        required: true

jobs:
  build-ios: 
    name: Build Flutter iOS
    runs-on: macos-latest
    steps:
      - name: Set environment variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "Running on the main branch, deploying to production."
            echo "PACKAGE_NAME=net.givtapp.kids" >> $GITHUB_ENV
            echo "FLAVOR=production" >> $GITHUB_ENV
            echo "TRACK=production" >> $GITHUB_ENV
          else
            echo "Running on a different branch, deploying to test."
            echo "PACKAGE_NAME=net.givtapp.kids.test" >> $GITHUB_ENV
            echo "FLAVOR=development" >> $GITHUB_ENV
            echo "TRACK=internal" >> $GITHUB_ENV
          fi

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.118.0
        with: 
          ruby-version: '3.0'
          bundler-cache: true

      - name: Auth codesigning
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.CODESIGNING_DEPLOY_KEY }}

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Run Fastlane
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: ios release
          subdirectory: ios
        env: 
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          APPSTORECONNECT_PRIVATE_KEY: ${{ secrets.APPSTORECONNECT_PRIVATE_KEY }}
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_API_TOKEN }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}
          FLAVOR: ${{ env.FLAVOR }}