name: givt_app

concurrency:
  group: $-$
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - develop
      - feat/bff-609/fastlane-setup

  pull_request:
    branches:
      - main
      - develop

jobs:
  linter:
    name: Lint codebase
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Superlinter run
        uses: github/super-linter@v5
        env:
          DEFAULT_BRANCH: ${{ github.ref }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          DISABLE_ERRORS: true

# Build apps
  droid:
    needs: linter
#    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/android.yml
    secrets:
      CODESIGNING_DEPLOY_KEY: ${{ secrets.CODESIGNING_DEPLOY_KEY }}
      GOOGLE_PLAY_JSON_KEY: ${{ secrets.GOOGLE_PLAY_JSON_KEY }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}

  ios:
    needs: linter
#    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/ios.yml
    secrets:
      CODESIGNING_DEPLOY_KEY: ${{ secrets.CODESIGNING_DEPLOY_KEY }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      APPSTORECONNECT_PRIVATE_KEY: ${{ secrets.APPSTORECONNECT_PRIVATE_KEY }}
      GITHUB_API_TOKEN: ${{ secrets.PERSONAL_ACCESS_KEY }}

  semantic-pr:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/semantic_pull_request.yml@v1

  spellcheck:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/spell_check.yml@v1
    with:
      includes: |
        **/*.md
      modified_files_only: false